.authContainer{
    background-image: url("https://images.pexels.com/photos/315788/pexels-photo-315788.jpeg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.authContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;     /* or any color: rgba(0,0,0,0.5) also works */
  opacity: 0.5;          /* adjust opacity here */
  z-index: 1;
}
.bgBlur{
  backdrop-filter: blur(6px);
}